<div class="container">
	<div class="row">
		<div class="col-md-12">
		
			<h1>Die Gewerkschaft der Polizei im Internet</h1>
			
			<section class="footer-menu">
				<h2 class="footer-menu__headline">Die GdP NRW in den sozialen Netzwerken</h2>
				<ul class="footer-menu__list clearfix">
					<li class="footer-menu__item"><a target="_blank" href="https://www.youtube.com/channel/UC-lQcJduhw0QiAW-Upjegtg" title="Die GdP NRW auf Youtube">Youtube</a></li>
					<li class="footer-menu__item"><a target="_blank" href="https://www.facebook.com/gdpnrw/" title="Die GdP NRW auf Facebook">Facebook</a></li>
					<li class="footer-menu__item"><a target="_blank" href="https://twitter.com/gdp_nrw" title="Die GdP NRW auf Twitter">Twitter</a></li>
					<li class="footer-menu__item"><a target="_blank" href="https://www.instagram.com/gdpnrw/" title="Die GdP NRW auf Instagram">Instagram</a></li>
				</ul>
			</section>
			
			<section class="footer-menu">
				<h2 class="footer-menu__headline">Die GdP in NRW</h2>
				<ul class="footer-menu__list clearfix">
					<li class="footer-menu__item" role="presentation"><a href="https://gdpnrw.de/aachen" target="_blank">Aachen</a></li>
					<li class="footer-menu__item" role="presentation"><a href="https://gdpnrw.de/bergisches-land" target="_blank">Bergisches Land</a></li>
					<li class="footer-menu__item" role="presentation"><a href="https://gdpnrw.de/bielefeld" target="_blank">Bielefeld</a></li>
					<li class="footer-menu__item" role="presentation"><a href="https://gdpnrw.de/bochum" target="_blank">Bochum</a></li>
					<li class="footer-menu__item" role="presentation"><a href="https://gdpnrw.de/bonn" target="_blank">Bonn</a></li>
					<li class="footer-menu__item" role="presentation"><a href="https://gdpnrw.de/borken" target="_blank">Borken</a></li>
					<li class="footer-menu__item" role="presentation"><a href="https://gdpnrw.de/bv-aus-und-fortbildung/">BV Aus- und Fortbildung</a></li>
					<li class="footer-menu__item" role="presentation"><a href="https://www.gdp.de/gdp/gdpnrw.nsf/id/kg_bv_muenster">BV Münster</a></li>
					<li class="footer-menu__item" role="presentation"><a href="http://www.gdp-coesfeld.de" target="_blank">Coesfeld</a></li>
					<li class="footer-menu__item" role="presentation"><a href="https://www.gdp.de/gdp/gdpnrw.nsf/id/KG_DHPol">DHPol NRW</a></li>
					<li class="footer-menu__item" role="presentation"><a href="https://gdpnrw.de/dortmund" target="_blank">Dortmund</a></li>
					<li class="footer-menu__item" role="presentation"><a href="https://gdpnrw.de/duisburg" target="_blank">Duisburg</a></li>
					<li class="footer-menu__item" role="presentation"><a href="https://gdpnrw.de/dueren" target="_blank">Düren</a></li>
					<li class="footer-menu__item" role="presentation"><a href="https://gdpnrw.de/duesseldorf" target="_blank">Düsseldorf</a></li>
					<li class="footer-menu__item" role="presentation"><a href="https://gdpnrw.de/ennepe-ruhr" target="_blank">Ennepe-Ruhr-Kreis</a></li>
					<li class="footer-menu__item" role="presentation"><a href="https://gdpnrw.de/erftkreis" target="_blank">Erftkreis</a></li>
					<li class="footer-menu__item" role="presentation"><a href="https://gdpnrw.de/essen-muelheim" target="_blank">Essen/Mülheim</a></li>
					<li class="footer-menu__item" role="presentation"><a href="http://www.gdp.de/gdp/gdpnrw.nsf/id/Bezirke_Kreisgruppen#Euskirchen" target="_blank">Euskirchen</a></li>
					<li class="footer-menu__item" role="presentation"><a href="https://gdpnrw.de/gelsenkirchen" target="_blank">Gelsenkirchen</a></li>
					<li class="footer-menu__item" role="presentation"><a href="https://gdpnrw.de/guetersloh" target="_blank">Gütersloh</a></li>
					<li class="footer-menu__item" role="presentation"><a href="https://gdpnrw.de/hagen" target="_blank">Hagen</a></li>
					<li class="footer-menu__item" role="presentation"><a href="https://gdpnrw.de/hamm" target="_blank">Hamm</a></li>
					<li class="footer-menu__item" role="presentation"><a href="https://gdpnrw.de/heinsberg" target="_blank">Heinsberg</a></li>
					<li class="footer-menu__item" role="presentation"><a href="https://gdpnrw.de/herford" target="_blank">Herford</a></li>
					<li class="footer-menu__item" role="presentation"><a href="https://gdpnrw.de/hochsauerlandkreis/" target="_blank">Hochsauerlandkreis</a></li>
					<li class="footer-menu__item" role="presentation"><a href="https://gdpnrw.de/hoexter/" target="_blank">Höxter</a></li>
					<li class="footer-menu__item" role="presentation"><a href="https://gdpnrw.de/im-nrw/" target="_blank">Innenministerium NRW</a></li>
					<li class="footer-menu__item" role="presentation"><a href="https://gdpnrw.de/kleve" target="_blank">Kleve</a></li>
					<li class="footer-menu__item" role="presentation"><a href="https://gdpnrw.de/koeln" target="_blank">Köln</a></li>
					<li class="footer-menu__item" role="presentation"><a href="https://www.gdp.de/gdp/gdpnrw.nsf/id/Bezirke_Kreisgruppen#Krefeld" target="_blank">Krefeld</a></li>
					<li class="footer-menu__item" role="presentation"><a href="https://gdpnrw.de/lippe" target="_blank">Lippe</a></li>
					<li class="footer-menu__item" role="presentation"><a href="https://www.gdp-lka-nrw.de/index.php" target="_blank">LKA NRW</a></li>
					<li class="footer-menu__item" role="presentation"><a href="https://www.gdp.de/gdp/gdpnrw.nsf/id/kg_lzpd" target="_blank">LZPD</a></li>
					<li class="footer-menu__item" role="presentation"><a href="https://gdpnrw.de/maerkischer_kreis" target="_blank">Märkischer Kreis</a></li>
					<li class="footer-menu__item" role="presentation"><a href="https://gdpnrw.de/mettmann" target="_blank">Mettmann</a></li>
					<li class="footer-menu__item" role="presentation"><a href="https://gdpnrw.de/minden-luebbecke" target="_blank">Minden-Lübbecke</a></li>
					<li class="footer-menu__item" role="presentation"><a href="https://www.gdp.de/gdp/gdpnrw.nsf/id/KG_Moenchengladbach" target="_blank">Mönchengladbach</a></li>
					<li class="footer-menu__item" role="presentation"><a href="https://gdpnrw.de/muenster" target="_blank">Münster</a></li>
					<li class="footer-menu__item" role="presentation"><a href="https://gdpnrw.de/oberbergischer-kreis" target="_blank">Oberbergischer Kreis</a></li>
					<li class="footer-menu__item" role="presentation"><a href="https://gdpnrw.de/oberhausen" target="_blank">Oberhausen</a></li>
					<li class="footer-menu__item" role="presentation"><a href="https://gdpnrw.de/olpe" target="_blank">Olpe</a></li>
					<li class="footer-menu__item" role="presentation"><a href="https://gdpnrw.de/paderborn" target="_blank">Paderborn</a></li>
					<li class="footer-menu__item" role="presentation"><a href="https://www.gdp-recklinghausen.de" target="_blank">Recklinghausen</a></li>
					<li class="footer-menu__item" role="presentation"><a href="https://gdpnrw.de/erftkreis" target="_blank">Rhein-Erft-Kreis</a></li>
					<li class="footer-menu__item" role="presentation"><a href="https://www.gdp.de/gdp/gdpnrw.nsf/id/Bezirke_Kreisgruppen#Rheinisch-Bergischer-Kreis" target="_blank">Rheinisch-Bergischer Kreis</a></li>
					<li class="footer-menu__item" role="presentation"><a href="https://gdpnrw.de/neuss" target="_blank">Rhein-Kreis Neuss</a></li>
					<li class="footer-menu__item" role="presentation"><a href="https://gdpnrw.de/siegburg" target="_blank">Siegburg</a></li>
					<li class="footer-menu__item" role="presentation"><a href="https://gdpnrw.de/siegen" target="_blank">Siegen-Wittgenstein</a></li>
					<li class="footer-menu__item" role="presentation"><a href="http://www.gdp-kgsoest.de" target="_blank">Soest</a></li>
					<li class="footer-menu__item" role="presentation"><a href="https://gdpnrw.de/steinfurt" target="_blank">Steinfurt</a></li>
					<li class="footer-menu__item" role="presentation"><a href="https://gdpnrw.de/unna" target="_blank">Unna</a></li>
					<li class="footer-menu__item" role="presentation"><a href="https://gdpnrw.de/viersen" target="_blank">Viersen</a></li>
					<li class="footer-menu__item" role="presentation"><a href="https://gdpnrw.de/warendorf" target="_blank">Warendorf</a></li>
					<li class="footer-menu__item" role="presentation"><a href="https://gdpnrw.de/wesel" target="_blank">Wesel</a></li>
					<li class="footer-menu__item" role="presentation"><a href="https://www.gdp.de/gdp/gdpnrw.nsf/id/KG_Wasserschutzpolizei_NRW" target="_blank">WSP NRW</a></li>
					<li class="footer-menu__item" role="presentation"><a href="https://www.gdp.de/" target="_blank">Bund und Länder</a></li>
					<li class="footer-menu__item" role="presentation"><a href="https://www.gdp.de/NRW" target="_blank">GdP NRW</a></li>
				</ul>
			</section>
			
			<section class="footer-menu">
				<h2 class="footer-menu__headline">Service</h2>
				<ul class="footer-menu__list clearfix">
					<li class="footer-menu__item"><a target="_blank" href="https://www.gdp.de/nrw/de/service/angebote-fuer-mitglieder" title="Angebote für Mitglieder">Angebote für Mitglieder</a></li>
					<li class="footer-menu__item"><a target="_blank" href="http://www.gdp-reiseservice.de/" title="GdP Reiseservice">GdP Reiseservice</a></li>
					<li class="footer-menu__item"><a target="_blank" href="https://www.gdp.de/bund/de/fuer-dich/unsere-leistungen/ueberblick" title="Leistungen des Bundes">Leistungen des Bundes</a></li>
				</ul>
			</section>
			
			<section class="footer-menu">
				<h2 class="footer-menu__headline">Apps der GdP</h2>
				<ul class="footer-menu__list clearfix">
					<li class="footer-menu__item"><a target="_blank" href="https://itunes.apple.com/de/app/gewerkschaft-der-polizei-gdp/id474771407?mt=8" title="GdP App iOS">iOS App (Apple)</a></li>
					<li class="footer-menu__item"><a target="_blank" href="https://play.google.com/store/apps/details?id=de.gdp&hl=de" title="GdP App Android">Android App</a></li>
					<li class="footer-menu__item"><a target="_blank" href="https://www.gdp.de/gdp/gdpnrw.nsf/id/gdp_apps" title="Informationen zu den Apps">Informationen zu den Apps</a></li>
				</ul>
			</section>
			
			<section class="footer-menu">
				<h2 class="footer-menu__headline">Wirtschaftsunternehmen der GdP</h2>
				<ul class="footer-menu__list clearfix">
					<li class="footer-menu__item"><a target="_blank" href="http://www.vdp-anzeigen.de/" title="Anzeigenverwaltung">Anzeigenverwaltung</a></li>
					<li class="footer-menu__item"><a target="_blank" href="http://www.vdpolizei.de/shop/" title="Verlag Deutsche Polizeiliteratur">Verlag Deutsche Polizeiliteratur</a></li>
					<li class="footer-menu__item"><a target="_blank" href="http://www.osg-werbemittel.de/" title="Werbemittel der OSG">Werbemittel der OSG</a></li>
				</ul>
			</section>
			
			<section class="footer-kontakt"> {# Hier sollten wir wohl was schlaues mit https://schema.org/ machen. #}
				<h2 class="footer-kontakt__headline">{{ options.contact_title }}</h2>
				<p>
					{{ options.contact_street }}<br>
					{{ options.contact_postal }} {{ options.contact_town }}<br>
					{% if options.contact_email %}E-Mail <a href="mailto:{{ options.contact_email }}">{{ options.contact_email }}</a><br>{% endif %}
					{% if options.contact_phone %}Telefon <a href="tel:{{ options.contact_phone }}">{{ options.contact_phone }}</a><br>{% endif %}
					{% if options.contact_fax %}Telefax {{ options.contact_fax }}<br>{% endif %}
				</p>
			</section>
			
			<div class="stern">
				<img src="{{ site.theme.link }}/src/img/gdp-stern.png">
			</div>
			
			<section class="footer-recht">
				<ul class="footer-menu__list clearfix">
					{% if footer %}
						{% for item in footer.get_items() %}
							<li class="footer-menu__item {{item.classes | join(' ')}}{% if submenu %} dropdown{% endif %}"><a target="{{ item.target }}" href="{{item.get_link}}">{{ item.title }}</a></li>
						{% endfor %}
					{% endif %}
				</ul>
			</section>
						
		</div>
	</div>
</div>

<div class="gdp-linie">
	<div class="gdp-linie__nrw">
		<div class="gdp-linie__weiss"></div>
		<div class="gdp-linie__rot"></div>
	</div>
</div>