{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<article class="page post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
						
			{% if post.thumbnail.src %}
				<a href="{{post.link}}" title="{{post.title}}" class="tease__image">
					<img class="tease__image article__image img-responsive" src="{{post.thumbnail.src}}" />
				</a>
			{% endif %}
			
			<div class="tease__box">
				
				<h1 class="h1 tease__headline article__headline">{{post.title}}</h1>
	
			{% if(post.post_excerpt) %}<p class="article__teaser-text" itemprop="description">{{ post.post_excerpt|e('esc_html') }}</p>{% endif %}
			
			</div>
			
			<div class="article__ce">
				{{post.content}}
			</div>
			
			<div class="article__sharer">
				{% include 'partial/sharer.twig' %}
			</div>

		</article>
	</div><!-- /content-wrapper -->
{% endblock %}
